
/**************************************** loader ***********************************************/
 @media
    only screen   
    and (min-device-width: 1024px)  {
.loader {
         position:fixed;
          left: 50% !important;
          top: 30% !important;
          width: 120px;
          margin: 120px auto;
      }
    }

  @media
    only screen  
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {
       .loader {
         position:fixed;
          left: 40%;
          top: 30%;
          width: 80px;
          margin: 100px auto;
      }
    }

.duo {
  height: 20px;
  width: 50px;
  background: hsla(0, 0%, 0%, 0.0);
  position: absolute;
  
}

.duo, .dot {
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.duo1 {
  left: 0;
}

.duo2 {
  left: 30px
}


.dot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #333;
  position: absolute;
}

.dot-a {
  left: 0px;  
}

.dot-b {
  right: 0px;
}


@keyframes spin {
    0% { transform: rotate(0deg) }
   50% { transform: rotate(180deg) }
  100% { transform: rotate(180deg) }
}

@keyframes onOff {
    0% { opacity: 0; }
   49% { opacity: 0; }
   50% { opacity: 1; }
  100% { opacity: 1; }
}

.duo1 {
  animation-name: spin;
}

.duo2 {
  animation-name: spin;
  animation-direction: reverse;
}

.duo2 .dot-b {
  animation-name: onOff;
}

.duo1 .dot-a {
  opacity: 0;
  animation-name: onOff;
  animation-direction: reverse;
}

 /************************************************** overrite chosen select **********************************************/ 
  .chosen-container-single .chosen-single {
    height: 35px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;

}
.chosen-container-single .chosen-single span {
    padding-top: 2px;
}
.chosen-container-single .chosen-single div b {
    margin-top: 2px;
}

.chosen-container-active .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
    border-color: #ccc;
    border-color: rgba(82, 168, 236, .8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 0 8px rgba(82, 168, 236, .6)
}
.chosen-container ul.chosen-results li.highlighted {
  background-color: #858585;
  background-image: none;
}

/************************************************** timeline **********************************************/ 

  ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 1px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: -8px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

  /************************************************** general **********************************************/ 
  
.hidden {
    display : none;
  }

 .canvasjs-chart-credit {
    display: none;
  }

 .centered{
  text-align:center;
 }

  .searchInput {
    border-box: box-sizing;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}


@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
    .Print{ 
        display: block !important; 
      }
}

.white{
   
    color:#fff !important;
}

 .kv-file-upload{
     background:url(../images/uploadsc.png) !important;
     padding-bottom:16px !important;
   }
 .kv-file-remove{
     background:url(../images/removesc.png) !important;
     padding-bottom:16px !important;
 }
 .btn-file{
   background-color:#32383e !important;
  }


.wait-hover{
    display: none !important;
}
.after-hover:hover .wait-hover{
    display: inline !important;
}